.container {
  background: var(--background-primary);
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  max-width: 1344px;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--header-primary);
}

.mainContainer {
  display: flex;
  flex: 1 1 auto;
  max-width: 1380px;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
}

.footerContainet {
  max-width: 1344px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  border-top: 1px solid var(--border-primary);
  padding: 20px;
  margin-top: 40px;
}
