.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background-primary);
}

.header {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  max-width: 1344px;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 1380px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainet {
  display: flex;
  flex: 1 1 auto;
  max-width: 1344px;
  padding: 20px;
  margin-top: 40px;
  color: var(--text-normal);
  border-top: 1px solid var(--border-primary);
  justify-content: space-between;
}
