.baseContainer {
  display: flex;
  flex: 1 1 auto;
}

.sideBar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 240px;
  background: var(--background-secondary);
}

.nav {
  display: flex;
  flex: 1 1 auto;
}

.user {
  display: flex;
  height: 52px;
  padding: 0 10px;
  background: var(--panel-background);
  fill: var(--interactive-normal);
  align-items: center;
}

.userInfo {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.username {
  margin-left: 10px;
  color: var(--text-normal);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: default;
}

/*  */

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: var(--background-primary);
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.members {
  width: 240px;
  background: var(--background-secondary);
}
