.channels {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.categoryName {
  display: flex;
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--interactive-normal);
  fill: var(--interactive-normal);
}

.categoryName:hover {
  color: var(--interactive-hover);
  fill: var(--interactive-hover);
}

.categoryNameIcon {
  height: 24px;
  width: 24px;
}

.icon {
  height: 24px;
  width: 24px;
}

.channel {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 1px 8px;
  padding: 0 8px;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--channels-default);
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.channel:hover {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
}

.channelSelected {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 1px 8px;
  padding: 0 8px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.channelName {
  flex: 1 1 auto;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
