.channels {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.category {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  color: var(--channels-default);
  fill: var(--channels-default);
  cursor: pointer;
  margin-right: 16px;
}

.categoryNameIcon {
  height: 24px;
  width: 24px;
}

.categoryName {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  flex: 1 1 auto;
}

.categoryName:hover {
  color: var(--interactive-hover);
  fill: var(--interactive-hover);
}

.icon {
  height: 24px;
  width: 24px;
}

.link {
  text-decoration: none;
}

.channel {
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  margin: 1px 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  color: var(--channels-default);
  cursor: pointer;
}

.channel:hover {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
}

.channelSelected {
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  margin: 1px 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  color: var(--channels-default);
  cursor: pointer;
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
}

.channelName {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
}
