.container {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  overflow: hidden;
}

.upvote {
  width: 24px;
  height: 24px;
  color: var(--interactive-normal);
}

.upvote:hover {
  background: var(--background-modifier-selected);
  fill: #00bbf0;
}

.colorDefault {
  fill: var(--interactive-normal);
  color: var(--interactive-normal);
}

.colorUp {
  fill: #00bbf0;
  color: #00bbf0;
}

.downvote {
  width: 24px;
  height: 24px;
  color: var(--interactive-normal);
}

.downvote:hover {
  background: var(--background-modifier-selected);
  fill: #ff5722;
}

.colorDown {
  fill: #ff5722;
  color: #ff5722;
}

.voteNumber {
  font-size: 14px;
  line-height: 24px;
}
