.iconContainer {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.iconContainer:hover {
  fill: var(--interactive-hover);
}

.icon {
  width: 24px;
  height: 24px;
}

.toolTips {
  background-color: #000 !important;
}

.toolTips::after {
  border-top-color: #000 !important;
}

.buttonContainer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
