.bar {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px;
}

.postsContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 720px;
  min-width: 360px;
  margin-bottom: 10px;
  overflow: hidden;
}

.sidebarContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 320px;
  min-width: 240px;
}

@media screen and (max-width: 930px) {
  .sidebarContainer {
    display: none;
  }
}

.info {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  margin: 10px 5px 0;
  border-radius: 4px;
  overflow: hidden;
  background: var(--card-background);
  box-shadow: var(--elevation-low);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;
}

.membercount {
  margin: 8px 0;
}

.buttonContainer {
  display: flex;
}
