.guilds {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 72px;
  display: flex;
  padding-right: 17px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-tertiary);
}

.base {
  position: absolute;
  left: 72px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  overflow: hidden;
}
