.container {
  background: var(--background-primary);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  max-width: 1446px;
  flex-direction: column;
}

.gridList {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 256px);
  grid-auto-rows: min-content;
  justify-content: center;
}
