.iconContainer {
  display: flex;
  width: 32px;
  height: 32px;
  fill: var(--interactive-normal);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconContainer:hover {
  background-color: var(--background-modifier-selected);
  fill: var(--interactive-hover);
}

.icon {
  width: 24px;
  height: 24px;
}

.toolTips {
  background-color: #000 !important;
}

.toolTips::after {
  border-top-color: #000 !important;
}

.buttonContainer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.userInfo {
  display: flex;
  flex-direction: row;
}

.userInfo1 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.userInfo2 {
  margin-bottom: 12px;
}
