.sideBar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 240px;
  background: var(--background-secondary);
}

.guild {
  display: flex;
  height: 48px;
  padding: 0 10px;
  fill: var(--interactive-normal);
  box-shadow: var(--elevation-low);
  align-items: center;
  cursor: pointer;
}

.guild:hover {
  background-color: var(--background-modifier-selected);
  fill: var(--interactive-hover);
}

.guildName {
  display: flex;
  flex: 1 1 auto;
  color: var(--header-primary);
  font-size: 15px;
  font-weight: 600;
}

.iconContainer {
  display: flex;
  width: 32px;
  height: 32px;
  fill: var(--interactive-normal);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconContainer:hover {
  background-color: var(--background-modifier-selected);
  fill: var(--interactive-hover);
}

.icon {
  width: 24px;
  height: 24px;
}

.guildMenu {
  display: flex;
  flex-direction: column;
  z-index: 1 !important;
  width: 220px;
  margin-top: 5px !important;
  padding: 4px 2px;
  background: var(--background-primary) !important;
  opacity: 1 !important;
  box-shadow: var(--elevation-high);
}

.guildMenu::after {
  display: none;
}

.item {
  display: flex;
  height: 28px;
  padding: 4px 8px;
  margin: 2px 4px;
  color: var(--interactive-normal);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}

.itemLabel {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user {
  display: flex;
  height: 52px;
  padding: 0 10px;
  background: var(--panel-background);
  fill: var(--interactive-normal);
  align-items: center;
}

.userInfo {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.username {
  margin-left: 10px;
  color: var(--text-normal);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: default;
}

.timeInfo {
  color: var(--text-muted);
  font-size: 12px;
  font-weight: 500;
}
