.container {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  margin-right: 10px;
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: auto;
  width: 400px;
  background: var(--background-primary);
}

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: var(--modal-background);
}

.form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 30px 30px 40px;
  align-items: center;
}

.title {
  color: var(--header-primary);
  padding-top: 20px;
  font-weight: 500;
  font-size: 24px;
}

.lead {
  color: var(--header-secondary);
  padding-top: 5px;
  font-size: 20px;
  font-weight: 500;
}

.formContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonNav {
  display: flex;
  flex-direction: row;
}

.alert {
  display: flex;
  flex-direction: row;
}

.alertContent {
  padding-left: 5px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

.alertColor {
  color: var(--alert-primary);
}

.notShow {
  display: none;
}

.verifyContainer {
  position: relative;
  width: 100%;
}

.verifyCode {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 38px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--button-primary);
  cursor: pointer;
}

.verifyCode:hover {
  background: var(--button-primary-hover);
}
