.bar {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.container {
  padding: 32px 48px;
  display: flex;
  max-width: 720px;
  flex: 1 1 auto;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.toolbar {
  position: sticky;
  top: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.iconbar {
  display: flex;
  flex-direction: row;
}

.filePond {
  padding: 0 0 8px;
}

.notFilePond {
  display: none;
}

.postMain {
  width: 100%;
}

.slate {
  min-height: 300px;
}

.footer {
  padding: 18px 0;
  display: flex;
  justify-content: flex-end;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  margin-left: 20px;
}
